@model IcerikDto

    

<div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 single-content">
          
          <p class="mb-5">
            <img src="~/images/big_img_1.jpg" alt="Image" class="img-fluid">
          </p>  
          <h1 class="mb-4">
            @Model.Baslik
          </h1>
          <div class="post-meta d-flex mb-5">
            <div class="bio-pic mr-3">
              <img src="~/images/person_1.jpg" alt="Image" class="img-fluidid">
            </div>
            <div class="vcard">
              <span class="d-block"><a href="#">Necmettin</a> in <a href="@Model.KategoriUrl">@Model.Kategori</a></span>
              <span class="date-read">@Model.Tarih.Value.ToShortDateString() <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
            </div>
          </div>

          @Html.Raw(Model.Icerik)

          <div class="pt-5">
                  <p>Categories:  <a href="@Model.KategoriUrl">@Model.Kategori</a>  Tags: <a href="#">#html</a>, <a href="#">#trends</a></p>
                </div>
        </div>


        <div class="col-lg-3 ml-auto">
          <div class="section-title">
            <h2>Popular Posts</h2>
          </div>

          <div class="trend-entry d-flex">
            <div class="number align-self-start">01</div>
            <div class="trend-contents">
              <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
              <div class="post-meta">
                <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
              </div>
            </div>
          </div>

          <div class="trend-entry d-flex">
            <div class="number align-self-start">02</div>
            <div class="trend-contents">
              <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
              <div class="post-meta">
                <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
              </div>
            </div>
          </div>

          <div class="trend-entry d-flex">
            <div class="number align-self-start">03</div>
            <div class="trend-contents">
              <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
              <div class="post-meta">
                <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
              </div>
            </div>
          </div>

          <div class="trend-entry d-flex pl-0">
            <div class="number align-self-start">04</div>
            <div class="trend-contents">
              <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
              <div class="post-meta">
                <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
              </div>
            </div>
          </div>
          
          <p>
            <a href="#" class="more">See All Popular <span class="icon-keyboard_arrow_right"></span></a>
          </p>
        </div>


      </div>
      
    </div>
  </div>