 @try 
{ 
@model IcerikDto
<title>@Model.Baslik</title>
    
        <div class="sub_header bg_1" style="background: url(@IcerikTipiYonetimi.DosyaPrefix/@Model.ResimData)">
        	<div id="intro_txt">
			<h1>@Model.Baslik</h1>
            <p>@Model.Giris</p>
            </div>
		</div> <!--End sub_header -->
 
 		<div class="container_gray_bg">
        <div id="position">
    	<div class="container">
                	<ul>
                    <li><a href="/">Anasayfa</a></li>
                    <li><a href="@Model.KategoriUrl">@Model.Kategori</a></li>
                    <li>@Model.Baslik</li>
                    </ul>
        </div>
    </div><!-- Position -->
        <div class="container margin_60">
 		<div class="row">
  
           <div class="col-md-12">
                	<div class="box_style_1">
                   	<div class="indent_title_in">
                    <i class="pe-7s-news-paper"></i>
				<h3>@Model.Baslik</h3>
			</div>
            	<div class="wrapper_indent">
                    @Html.Raw(Model.Icerik)
                    </div>
                    <hr class="styled_2">
                    </div>
           </div>
            </div><!--End row -->
        </div><!--End container -->
        </div><!--End container_gray_bg -->
  
  	
}
catch (Exception)
{
}