@try
{
    @model IcerikDto
<title>@Model.Baslik</title>
    <section class="section blog-single">
        <div class="container">
            <div class="row">
                <div class="col-md-10 m-auto">
                    <!-- Single Post -->
                <article class="single-post">
                        <!-- Post title -->
                    <div class="post-title text-center">
                            <h1>@Model.Baslik</h1>
                            <!-- Tags -->
                        <ul class="list-inline post-tag">
                                <li class="list-inline-item">
                                    <a href="#">@Model.Kategori</a>
                                </li>
                            </ul>
                        </div>
                        <!-- Post body -->
                    <div class="post-body">
                        
						<div class="feature-image">
                                @if (!string.IsNullOrEmpty(Model.ResimData))
                                {
                                <img class="img-fluid" src="@Model.ResimData" alt="@Model.Baslik">
                                }
						</div>
                            @Html.Raw(Model.Icerik)
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
}
catch (Exception)
{
}