@using Microsoft.AspNetCore.Http
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Bootstrap App Landing Template">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
  <meta name="author" content="Themefisher">
  <meta name="generator" content="Themefisher Small Apps Template v1.0">

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />
  
  <!-- PLUGINS CSS STYLE -->
  <link rel="stylesheet" href="~/plugins/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="~/plugins/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="~/plugins/slick/slick.css">
  <link rel="stylesheet" href="~/plugins/slick/slick-theme.css">
  <link rel="stylesheet" href="~/plugins/fancybox/jquery.fancybox.min.css">
  <link rel="stylesheet" href="~/plugins/aos/aos.css">

  <!-- CUSTOM CSS -->
  <link href="~/css/style.css" rel="stylesheet">
  <!-- GetButton.io widget -->
<script type="text/javascript">
    (function () {
        var options = {
            whatsapp: "+(90) 533 272 2589", // WhatsApp number
            call_to_action: "Bize mesaj gönderin", // Call to action
            position: "right", // Position may be 'right' or 'left'
        };
        var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
</script>
<!-- /GetButton.io widget -->

</head>

<body class="body-wrapper" data-spy="scroll" data-target=".privacy-nav">


<nav class="navbar main-nav navbar-expand-lg px-2 px-sm-0 py-2 py-lg-0">
  <div class="container">
    <a class="navbar-brand" href="/"><img src="@Html.Raw(TemaYonetimi.Find("logo","/images/logo.png"))" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="ti-menu"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
          @foreach (var m in MenuYonetimi.Menuler)
                                    {
                                        
                                            @if (m.Menuler.Count > 0)
                        {
                            <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="@m.Url" data-toggle="dropdown">@m.Isim <span><i class="ti-angle-down"></i></span>
          </a>
          <!-- Dropdown list -->
          <ul class="dropdown-menu">
              
                                                    @foreach (var m2 in m.Menuler)
                                    {
                                    <li><a class="dropdown-item" href="@m2.Url">@m2.Isim</a></li>                                        
                                    }
          </ul>
        </li>
                        }
                        else
                        {
        <li class="nav-item @@contact">
          <a class="nav-link" href="@m.Url">@m.Isim</a>
        </li>                            
                        }
                    }

        
      </ul>
    </div>
  </div>
</nav>
@RenderBody()

<!--=====================================
=            Section comment            =
======================================-->

<section class="section cta-hire bg-gary">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<!-- Hire Title -->
				<h2>@Html.Raw(TemaYonetimi.Find("hersayfailetisimbaslik","We are hunting Genius Developers"))</h2>
				<!-- Job Description -->
				<p>@Html.Raw(TemaYonetimi.Find("hersayfailetisimaciklama",@"Sed porttitor lectus nibh. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Pellentesque
					in ipsum id orci porta dapibus. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus."))</p>
				<!-- Action Button -->
				<a href="@Html.Raw(TemaYonetimi.Find("hersayfailetisimadres","/iletisim"))" class="mt-3 btn btn-main-md">@Html.Raw(TemaYonetimi.Find("hersayfailetisimbutton","Join the team"))</a>
			</div>
		</div>
	</div>
</section>

<!--====  End of Section comment  ====-->


<!--============================
=            Footer            =
=============================-->
<footer>
  <div class="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12 m-md-auto align-self-center">
          <div class="block">
            <a href="/l"><img src="@Html.Raw(TemaYonetimi.Find("hersayfaaltlogo","/images/logo-alt.png"))" alt="footer-logo"></a>
            <!-- Social Site Icons -->
            <ul class="social-icon list-inline">
              <li class="list-inline-item">
                <a href="@Html.Raw(TemaYonetimi.Find("hersayfafacebook","https://www.facebook.com/themefisher"))"><i class="ti-facebook"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="@Html.Raw(TemaYonetimi.Find("hersayfatwitter","https://twitter.com/themefisher"))"><i class="ti-twitter"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="@Html.Raw(TemaYonetimi.Find("hersayfainsgram","https://www.instagram.com/themefisher/"))"><i class="ti-instagram"></i></a>
              </li>
            </ul>
          </div>
        </div>
                  @foreach (var m in MenuYonetimi.Menuler)
                                    {
        <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">

                                        
                                            @if (m.Menuler.Count > 0)
                        {
                                      <div class="block-2">
            <!-- heading -->
            <h6>@m.Isim</h6>
            <!-- links -->
            <ul>
              
                                                    @foreach (var m2 in m.Menuler)
                                    {
              <li><a href="@m2.Url">@m2.Isim</a></li>                                      
                                    }
                                    
            </ul>
          </div>
                        }
                        else
                        {
                                      <div class="block-2">
            <!-- links -->
            <ul>
              
              <li><a href="@m.Url"><h6>@m.Isim</h6></a></li>                                      
                                    
            </ul>
          </div>
        
                        }
      </div>

                    }

    </div>
  </div>
  <div class="text-center bg-dark py-4">
    <small class="text-secondary">Copyright &copy; <script>document.write(new Date().getFullYear())</script></small>
  </div>

</footer>


  <!-- To Top -->
  <div class="scroll-top-to">
    <i class="ti-angle-up"></i>
  </div>
  
  <!-- JAVASCRIPTS -->
  <script src="~/plugins/jquery/jquery.min.js"></script>
  <script src="~/plugins/bootstrap/bootstrap.min.js"></script>
  <script src="~/plugins/slick/slick.min.js"></script>
  <script src="~/plugins/fancybox/jquery.fancybox.min.js"></script>
  <script src="~/plugins/syotimer/jquery.syotimer.min.js"></script>
  <script src="~/plugins/aos/aos.js"></script>
  <!-- google map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgeuuDfRlweIs7D6uo4wdIHVvJ0LonQ6g"></script>
  <script src="~/plugins/google-map/gmap.js"></script>
  
  <script src="~/js/script.js"></script>
  
@RenderSection("Scripts", false)
</body>

</html>