@using Microsoft.AspNetCore.Http
@{
    Layout = null;
}
<!DOCTYPE html>
<!-- FilWEB CMS. Developed by Fil Bilişim Sistemleri www.filbilisim.com -->
<html lang="tr" class="lang-tr">

<head>

    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=2, minimum-scale=0.4, user-scalable=1"/>

    <title>Aybars Hukuk</title>
    <meta charset="utf-8">
  
    <meta name="description" content="Aybars Hukuk Bürosu">
    <meta name="keywords" content="Aybars Hukuk Bürosu. Aybars Hukuk Bürosu">
    <meta name="author" content="Aybars Hukuk Bürosu">
    <meta name="robots" content="all,follow"/>

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="https://www.aybarshukuk.com"/>
    <meta name="twitter:title" content="Aybars Hukuk Bürosu">
    <meta name="twitter:description" content="Aybars Hukuk Bürosu">
	
    <!-- Open Graph data -->
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="Aybars Hukuk Bürosu"/>
    <meta property="og:title" content="Aybars Hukuk Bürosu"/>
    <meta property="og:description" content="Aybars Hukuk Bürosu"/>
    <meta property="og:url" content="https://www.aybarshukuk.com"/>
	    <!-- google -->
    <meta itemprop="name" content="Aybars Hukuk Bürosu"/>
    <meta itemprop="description" content="Aybars Hukuk Bürosu"/>
	    <link rel="canonical" href="https://www.aybarshukuk.com"/>

    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon"/>

    <script type="text/javascript">
        window.appBase = "";
        window.baseUrl = "/tr";
        window.theme = "aybars";
        window.lang = "tr";
        window.isHome = true
    </script>
    
    <link rel="stylesheet" href="~/images/compressed.css" asp-append-version="true" media="all"/>
    
        
    
</head>

<body class="Sayfa-default home fw-front">

<div id="wrapper" class="wrap-B">

    <div id="wrapper-content">
        <div id="pbody">
            <div id="top">
                <div class="pre-top">
                    <div class="wrap">
                        <div class="body">
                            <section class="node-content">
                                <div style="z-index: 10001; position: relative;">
                                    <p>
                                        <!-- <a href="https://www.facebook.com/" target="_blank" rel="noopener">
                                            <em class="icon-facebook3 " style="font-size: 18px;">
                                            </em>
                                        </a>
                                        <a href="https://www.instagram.com/" target="_blank" rel="noopener">
                                            <em class="icon-instagram " style="font-size: 18px;">
                                            </em>
                                        </a> <span style="font-size: 18px;">
                                            <a href="https://tr.linkedin.com" target="_blank" rel="noopener">
                                                <em class="icon-linkedin ">
                                                </em>
                                            </a>
                                        </span> | 
                                        -->
                                        <em class="icon-phone2 "
                                            style="vertical-align: middle; font-size: 18px;">
                                            <!--icon-->
                                        </em> @TemaYonetimi.Find("telefon")
                                    </p>
                                </div>
                                <style>
                                        .pre-top a {
                                            color: #fff !important;
                                            margin: 0;
                                            display: inline-block;
                                        }

                                        .pre-top p {
                                            margin: 0;
                                            margin-top: -4px;
                                        }
                                    </style>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="mob-menu">
                        <div id="mobMenuButton"></div>
                        <div id="mobMenuContainer"></div>
                    </div>
                    <div class="logo-overlay">
                        <a href="/">
                            <img src="@Html.Raw(TemaYonetimi.Find(kodu:"logo"))" alt="logo"/>
                        </a>
                    </div>
                    <div class="site-title">@Html.Raw(TemaYonetimi.Find("anasayfaresimustuyazibaslik"))</div>

                    <div id="flags">

                        <div class="site-search-wrap">
                            <div class="search site-search" data-type="">
                                <form action="/Arama" method="GET">
                                    <input type="text" value="Arama" class="text" name="arama">
                                    <input style="float:left" type="submit" class="ara" value="Ara ">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="navi-wrap">
                        <div class="navi">
                            <div class="navi_top"></div>
                            <nav class="navi_body">
                                <ul class="menulist" id="siteMainMenu">
                                    @foreach (var m in MenuYonetimi.Menuler)
                                    {
                                        <li>
                                            <a href="@m.Url" data-tip="Sayfa:default">
                                                <i class=""></i>
                                                <span>@m.Isim</span>
                                            </a>
                                            @if (m.Menuler.Count > 0)
                                            {
                                                <ul>
                                                    @foreach (var m2 in m.Menuler)
                                                    {
                                                        <li>
                                                            <a href="@m2.Url" data-tip="Sayfa:default">
                                                                <i class=""></i>
                                                                <span>@m2.Isim</span>
                                                            </a>
                                                        </li>
                                                    }
                                                </ul>
                                            }
                                        </li>
                                    }

                                </ul>
                            </nav>
                            <div class="navi_bot"></div>
                        </div>
                    </div>

                </div>
            </div>

            <div id="content">
                @RenderBody()
            </div>
            <!--content-->
        </div>
        <!-- pbody -->
    </div>


    <div id="footer">
        <div class="body">
            <div class="content">
                <section class="node-content">
                    <div class="gle-logo">
                        <p>
                            <a href="@TemaYonetimi.Find("anasayfaaltyaziresimlink")" target="_blank" rel="noopener">
                                <img
                                    src="@TemaYonetimi.Find("anasayfaaltyaziresim")" alt="aybars"/>
                            </a>
                        </p>
                    </div>
                    <p>
                        <span style="font-size: 0.9em;">
                            @Html.Raw(TemaYonetimi.Find("anasayfaaltyazi"))
                        </span>
                    </p>
                    <p>
                        @Html.Raw(TemaYonetimi.Find("anasayfaaltyazi2"))
                    </p>
                    <style>
                            .gle-logo {
                                float: right;
                                margin-left: 1em;
                            }
                        </style>
                </section>
            </div>
        </div>
    </div>
</div>

<div class="extra01"></div>

<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Raleway:400,300,300italic,400italic,500,500italic,600,600italic,700,700italic&amp;subset=latin,latin-ext"
      type="text/css"/>
<style>
        BODY {
            font-family: "Raleway", arial, sans-serif
        }

        #wrapper-content {
            background-color: #cccccc
        }
    </style>

    <script type="text/javascript" src="~/images/compressed.js" asp-append-version="true"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-153112200-1"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-153112200-1');
</script>


@RenderSection("Scripts", false)

                    <script type="text/javascript">
                            window.addEvent('domready', function () {

                                try {
                                    window.siteMainMenu = new MenuMatic({
                                        id: "siteMainMenu"
                                    });
                                } catch (err) {
                                    console.warn("Disabled: Menumatic. MN-MM-01");
                                }

                            });
                        </script>


</body>

</html>