@model KategoriDto
<title>@Model.Isim</title>

<div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <div class="section-title">
            <span class="caption d-block small">Arama</span>
            <h2>@Model.Isim</h2>
          </div>
          
          @foreach(var icerik in Model.Icerikler){
            <div class="post-entry-2 d-flex">
                <div class="thumbnail order-md-2" style="background-image: url('images/img_h_4.jpg')"></div>
                <div class="contents order-md-1 pl-0">
                  <h2><a href="@icerik.KategoriUrl/@icerik.Url">@icerik.Baslik</a></h2>
                  <p class="mb-3">@icerik.Giris</p>
                  <div class="post-meta">
                    <span class="d-block"><a href="#">Necmettin</a> in </span>
                    <span class="date-read">@icerik.Tarih.Value.ToShortDateString() <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                  </div>
                </div>
              </div>
          }

        </div>
        <div class="col-lg-3">
          <div class="section-title">
            <h2>Popular Posts</h2>
          </div>

          <div class="trend-entry d-flex">
            <div class="number align-self-start">01</div>
            <div class="trend-contents">
              <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
              <div class="post-meta">
                <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
              </div>
            </div>
          </div>

          <div class="trend-entry d-flex">
            <div class="number align-self-start">02</div>
            <div class="trend-contents">
              <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
              <div class="post-meta">
                <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
              </div>
            </div>
          </div>

          <div class="trend-entry d-flex">
            <div class="number align-self-start">03</div>
            <div class="trend-contents">
              <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
              <div class="post-meta">
                <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
              </div>
            </div>
          </div>

          <div class="trend-entry d-flex pl-0">
            <div class="number align-self-start">04</div>
            <div class="trend-contents">
              <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
              <div class="post-meta">
                <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
              </div>
            </div>
          </div>
          
          <p>
            <a href="#" class="more">See All Popular <span class="icon-keyboard_arrow_right"></span></a>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <ul class="custom-pagination list-unstyled">
            @for (var i = 0; i < Model.IcerikSayisi / 10 + 1; i++)
            {
                @if (Model.SayfaNo == i)
                {
                    <li class="active">
                        @(i + 1)
                    </li>
                }
                else
                {
                    <li>
                        <a href="/Arama?arama=@Model.Isim&skip=@(i + 1)">@(i + 1)</a>
                    </li>
                }
            }
          </ul>
        </div>
      </div>
    </div>
  </div>