@try
{
    @model KategoriDto
<title>@Model.Isim</title>
    <section class="section page-title">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 m-auto">
                    <!-- Page Title -->
                <h1>@Model.Isim</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="post-grid section pt-0">
        <div class="container">
            <div class="row">
                @if (Model.Icerikler.Count < 1)
                {

                    <div>
                        <h5>
                            Hiç İçerik Bulunamadı.
                        </h5>
                    </div>
                }
                @foreach (var item in Model.Icerikler)
                {
                    <div class="col-lg-4 col-md-6">

                        <article class="post-sm">
                            <!-- Post Image -->
                    <div class="post-thumb">
                                <a href="@item.KategoriUrl/@item.Url"><img class="w-100" src="@item.ResimData" alt="Post-Image"></a>
                            </div>
                            <!-- Post Title -->
                    <div class="post-title">
                                <h3><a href="@item.KategoriUrl/@item.Url">@item.Baslik</a></h3>
                            </div>
                            <!-- Post Meta -->
                    <div class="post-meta">
                                <ul class="list-inline post-tag">
                                    <li class="list-inline-item">
                                        @item.Tarih.ToShortDateString() - @item.Kategori
                                    </li>
                                </ul>
                            </div>
                            <!-- Post Details -->
                    <div class="post-details">
                                <p>@item.Giris </p>
                            </div>
                        </article>
                    </div>
                }
                <div class="col-12">
                    <!-- Pagination -->
                <nav class="pagination-nav">
                        <ul class="pagination">
                            @for (var i = 0; i < Model.IcerikSayisi / 10 + 1; i++)
                            {
                                @if (Model.SayfaNo == i)
                                {
                                    <li class="page-item active"><a class="page-link" href="#">@(i + 1)</a></li>
                                    <span></span>
                                }
                                else
                                {
                                    <li class="page-item"><a class="page-link" href="@Model.KategoriUrl/sayfa/@(i + 1)">@(i + 1)</a></li>
                                }
                            }
                        </ul>
                    </nav>
                </div>

                <!-- Post -->

        </div>
        </div>
    </section>

}
catch (Exception)
{
}